{% extends "index.html" %}

{% block content %}

    <h1> Lista de consorcistas</h1>
    <p></p>

    <div class="row col-12 justify-content-end mb=2 pr=0">
        <!--<button type="button" class="btn btn-success col-md-3">Agregar Nuevo</button>-->
        <a class= "btn btn-success col-md-3" href="{% url "registrarConsorcista"  %}">Agregar Nuevo</a>
    </div>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Unidad_Funcional</th>
        </tr>
        </thead>
        <tbody>
        {% for consorcista in consorcistas %}
        
        <tr>
            <th scope="row"> {{ consorcista.id }} </th>
            <td>{{consorcista.nombre}}</td>
            <td>{{consorcista.apellido}}</td>
            <td>{{consorcista.Unidad_Funcional}}</td>
        </tr>
        
        {% endfor %}
        </tbody>
    </table>

{% endblock %}